<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color=#000">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=10, user-scalable=0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/homepage.css" type="text/css">
    <title>Expange</title>
</head>

<body>
    <div class="ui secondary inverted pointing menu" id="top_menu">
        <a class="item active" href="http://localhost:4000">
            <i class="home icon"></i>Expange
        </a>
        <div class="right menu">
            <a class="item" href="http://localhost:4000/login">
                <i class="sign-in icon"></i>Login
            </a>
        </div>

    </div>
    <div class="container" id="main_div">
        <div id="main_btn">
            <p id="title">Expange</p>
            <p id="main_content_para">experience the change.
            </p>
            <button class="ui inverted black button">Download App</button>
            <button class="ui inverted red basic button">Read More</button>
        </div>
    </div>
    <div class="ui center aligned segment" id="floating">
        <h2 class="ui center aligned icon header">
            <i class="rocket icon"></i>
            Our Mission
        </h2>
        <div class="ui clearing divider"></div>
        <p id="floating_content">
            To Connect you by making your journey hassle free. We provide complete service from booking tickets to
            boarding vehicles right at your doorsteps.
        </p>
        <p>
            Download Our App today and Join Us.
        </p>
        <button class="ui inverted green big button"><i class="android icon"></i>Download Now</button>
    </div>
    <div class="ui center aligned segment error message">
        <h2 class="ui center aligned icon header">
            <i class="car icon"></i>
            Now Avail Vehicles at your doorsteps !!
        </h2>
        <div class="ui clearing divider"></div>
        <div class="ui raised segment">
            <h2 class="ui icon header">
                <i class="road icon"></i>
                Make Travel Easy
            </h2>
            <p>Move ahead of Crowd, and Travel Smart.
                Book Tickets online, Board vehicles at your doorsteps.
            </p>
            <div class="ui clearing divider"></div>
            <h2 class="ui icon header">
                <i class="clock outline icon"></i>
                Time Efficient.
            </h2>
            Hassle free travel experience. Skip the Queue at ticket counters, avoid waiting at Bus Stands.
            <div class="ui clearing divider"></div>
            <div class="right">
                <button class="ui primary button">
                    Experience Change Today >>
                </button>
            </div>
        </div>
    </div>
    <div class="ui blue inverted segment">
        <h2 class="ui center aligned icon header">
            <i class="cogs icon"></i>
            How it Works ?
        </h2>
        <div class="ui center aligned inverted blue segment">
            <div class="ui horizontal divider">
                Simple 5 Step Process
            </div>
            <div class="ui small steps">
                <div class="step">
                    <i class="calendar alternate outline icon"></i>
                    <div class="content">
                        <div class="title">Journey Details</div>
                        <div class="description">Choose your journey day and date.</div>
                    </div>
                </div>
                <div class="step">
                    <i class="info icon"></i>
                    <div class="content">
                        <div class="title">information</div>
                        <div class="description">Fill in Your Information.</div>
                    </div>
                </div>
                <div class="step">
                    <i class="map pin icon"></i>
                    <div class="content">
                        <div class="title">Pickup Location</div>
                        <div class="description">Select your pickup location.</div>
                    </div>
                </div>
                <div class="step">
                    <i class="map marker alternate icon"></i>
                    <div class="content">
                        <div class="title">Drop Location</div>
                        <div class="description">Select your drop location.</div>
                    </div>
                </div>
                <div class="step">
                    <i class="smile outline icon"></i>
                    <div class="content">
                        <div class="title">Enjoy Your Ride</div>
                        <div class="description">Experience the change.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui center aligned segment error message">
        <h2 class="ui center aligned icon header">
            <i class="handshake icon"></i>
            Our Benefits
        </h2>
        <div class="ui four column stackable grid">
            <div class="column">
                <div class="ui segment error message">
                    <h2 class="ui icon header">
                        <i class="smile outline icon"></i>
                    </h2>
                    <p> Hassle free travel experience</p>
                </div>
            </div>
            <div class="column">
                <div class="ui segment error message">
                    <h2 class="ui icon header">
                        <i class="sort numeric down icon"></i>
                    </h2>
                    <p> No long queue at ticket counters.</p>
                </div>
            </div>
            <div class="column">
                <div class="ui segment error message">
                    <h2 class="ui icon header">
                        <i class="clock outline icon"></i>
                    </h2>
                    <p> No waiting at Bus Stands.</p>
                </div>
            </div>
            <div class="column">
                <div class="ui segment error message">
                    <h2 class="ui icon header">
                        <i class="taxi icon"></i>
                    </h2>
                    <p> Door to door service.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui blue inverted segment">
        <h2 class="ui center aligned icon header">
            <i class="briefcase icon"></i>
            Our Services
        </h2>
        <div class="ui placeholder segment">
            <div class="ui two column stackable center aligned grid">
                <div class="ui vertical divider">-</div>
                <div class="middle aligned row">
                    <div class="column">
                        <div class="ui icon header">
                            <i class="car icon"></i>
                            Private Vehicles
                        </div>
                        <h5><i class="quote left icon"></i> Book your ride and travel in private. Experience the change
                            today! <i class="quote right icon"></i></h5>
                    </div>
                    <div class="column">
                        <div class="ui icon header">
                            <i class="taxi icon"></i>
                            Public Vehicles
                        </div>
                        <h5><i class="quote left icon"></i> Book your ride and share your travel experience with fellow
                            co-passenger. Unbelievable comfort and happy stories. Join today!
                            <i class="quote right icon"></i></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui grid">
        <form class="ui form segment" id="getTouchForm">
            <h2 class="ui center aligned dividing header"><i class="phone icon"></i>
                Get In Touch</h2>
            <div class="required field">
                <label>Name</label>
                <div class="two fields">
                    <div class="field">
                        <input name="fName" type="text" placeholder="First Name">
                    </div>
                    <div class="field">
                        <input name="lName" type="text" placeholder="Last Name">
                    </div>
                </div>
            </div>
            <div class="required field">
                <label>Email</label>
                <div class="fields">
                    <div class="sixteen wide field">
                        <input type="text" name="eAddress" placeholder="Email Address">
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="required field">
                    <label>Contact No.</label>
                    <input type="text" name="phone" placeholder="Contact No.">
                </div>
                <div class="required field">
                    <label>Subject</label>
                    <select name="subject" class="ui fluid dropdown">
                        <option value="">Subject</option>
                        <option value="INF">Need more Info</option>
                        <option value="CAB">Need Tie Up related info</option>
                        <option value="FS">Feedback and Suggestions</option>
                        <option value="OTHERS">Others</option>
                    </select>
                </div>
            </div>
            <div class="required field">
                <label>Message</label>
                <textarea name="msg"></textarea>
            </div>
            <button class="ui fluid primary button" id="submitBtn">Submit Message</button>
            <div class="ui error message"></div>
        </form>
    </div>
    <div class="ui segment">
        <div id='btn-grp'>
            Follow us on
            <a class="ui circular facebook icon button" href="https://www.facebook.com/Urban-cab-2343175462427541/">
                <i class="facebook icon"></i>
                facebook
            </a>
            <button class="ui circular twitter icon button">
                <i class="twitter icon"></i>
                twitter
            </button>
            <a class="ui circular instagram button" id="insta" href="https://www.instagram.com/caburban/">
                <i class="instagram icon"></i>
                Instagram
            </a>
        </div>
        <div id="final_div">
            https://tech.expange.com
        </div>
    </div>

    <script type="text/javascript" src="/script/jQuery-3.4.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="/script/homescript.js" type="text/javascript"></script>
</body>

</html>